body {
    font-family: Segoe UI;
    font-size: 20pt;
}
.left {
    margin-left: 17px;
}
.personal {
    margin: auto;
    display: flex;
    border: 4px solid black;
    border-radius: 20px;
    width: 905px;
}
.ava {
    margin-left: 40px;
    width: 300px;
    height: 300px;
    border-radius: 135px;
}
.about {
    margin-top: 200px;
    margin-left: -335px;
}
.social{
    display: flex;
    margin-top: 485px;
    margin-left: -440px;
    padding: 15px;
}
.skills {
    margin: auto;
    border: 4px solid black;
    border-radius: 20px;
    width: 905px;
    height: 600px;
    font-family: sans-serif;
}
.skills h1 {
    text-align: center;
}
.skills ul {
    font-family: monospace;
}
.diarybook{
    color: #0074a8;background-color:
    #eaf1ae;font-family:
    Segoe Script;font-size: 15pt;
}
h1 {
    text-align: center;
}
.center {
    display: flex;
    justify-content: space-around;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: #00ff00;
}
.social img {
    width: 60px;
    height: 60px;
}
img {
    width: 200px;
    height: 200px;
}
